@use "variables" as *;
@mixin endOfModule {
 @media screen and (min-width: 801px) {
  margin-bottom: $marginDesk;
 }
 @media screen and (max-width: 800px) {
  margin-bottom: $marginMobi;
 }
}

@mixin resume($lineToResume: 3) {
 display: block;
 display: -webkit-box;
 text-overflow: ellipsis;
 overflow: hidden;
 -webkit-line-clamp: $lineToResume;
 -webkit-box-orient: vertical;
 -moz-box-orient: vertical;
}

@mixin grid($numberGrid: 2) {
 grid-template-columns: repeat($numberGrid, 1fr);
}

@mixin gridGap($numberGap: 10px) {
 grid-column-gap: $numberGap;
 grid-row-gap: $numberGap;
}

@mixin border($numberRadius: 8px) {
 border-radius: $numberRadius;
}

@mixin list-style-none($none: none) {
 list-style: $none;
 &::marker,
 &::-webkit-details-marker {
  content: "";
  display: $none;
 }
}

@mixin center($justify-content: center, $align-items: center) {
 justify-content: $justify-content;
 align-items: $align-items;
}

@mixin debug() {
 //outline: solid 1px red;
 body {
  background-color: black !important;
 }
 * > * {
  outline: solid 1px red;
 }
}
